{{define "layout"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <link href="static/yp.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="icon" href="./favicon.ico" />
    <title>{{index . "ypName"}}</title>
</head>
<body>

<div class="header">
    <h2>{{index . "title"}} <a href="#foot">▼</a></h2>
</div>

{{template "content" .}}

<div id="foot"></div>

</body>
</html>{{end}}
